body, div, h1, a, h2, h3, p, input{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei UI";
}

/* 登录页面 */
.login-page{
    width: 100%;
    height: 662px;
    background: url("/asset/imgs/login-bg.jpg") no-repeat;
    background-size: cover;
}

.login-form{
    width: 400px;
    height: 360px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0px 0px 2px 2px #dddddd;
    -moz-box-shadow: 0px 0px 2px 2px #dddddd;
    box-shadow: 0px 0px 2px 2px #dddddd;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.login-title h1{
    font-size: 27px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 20px;
}

.login-form form{
    width: 90%;
    margin-left: 5%;
}

.input-group{
    margin-bottom: 20px;
}

.from-submit{
    width: 100%;
}
/* 登录页面 */