<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
</head>
<body>
<div th:fragment="header" class="page-top">
    <div class="head">
        <div class="logo">
            <img src="/public/asset/imgs/logo.png" title="惟沃科技办公自动化平台">
            <h1 class="home-title">惟沃科技办公自动化平台</h1>
        </div>
        <div class="user">
            <div class="info" onclick="loadHtml('/oa/info/notice', {pageSize:10, currentPage:1})">
                <i class="fa fa-envelope-o"></i>
                <span class="info-num" th:text="${noReadInfo == 0} ? '' : ${noReadInfo}"></span>
            </div>
            <div class="user-block">
                <div>
                  <!--  <img src="/public/asset/imgs/user.jpg" height="30px" width="30px" />-->
                    <a class="username" th:text="${user.name}"></a>
                </div>
                <ul class="user-operation">
                    <li class="logout"><span onclick="logout()">退出</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>