<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
</head>
<body>
<div th:fragment="header" class="page-top">
    <div class="head">
        <div class="logo">
            <img src="/public/asset/imgs/logo.png" title="惟沃科技办公自动化平台">
            <h1 class="home-title">惟沃科技办公自动化平台</h1>
        </div>
        <div class="user">
            <div class="info">
                <a href="#">
                    <i class="fa fa-envelope-o"></i>
                </a>
                <span class="info-num">1</span>
            </div>
            <div class="user-block">
                <a href="#" class="username" th:text="${user.name}"></a>
                <ul class="user-operation">
                    <li><a href="#" th:onclick="'updatePassword(' + ${user.getId()} + ')'">修改密码</a></li>
                    <li><a href="#" th:onclick="'personalInfo(' + ${user.getId()} + ')'">个人信息</a></li>
                    <li class="logout" onclick="logout()"><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>