<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<div th:fragment="main">
    <div>
        <h4 style="border-bottom: 1px solid #ccc;padding-bottom: 10px;">常用功能</h4>
        <div class="functions">
            <div class="function" onclick="loadHtml('/oa/info/notice', {pageSize:10, currentPage:1})">我的消息</div>
            <div class="function" onclick="loadHtml('/oa/flow/myWork', {pageSize:10, currentPage:1})">我的工作</div>
            <div class="function" onclick="loadHtml('/oa/info/add')">发布消息</div>
        </div>
    </div>
</div>
</body>
</html>