<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
    <link href="/asset/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div th:fragment="menu">
    <div class="menu">
        <ul class="menu-nav">
            <li>
                <a href="javascript:;"><i class="fa fa-cogs"></i>系统管理</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;" onclick="loadHtml('/oa/user/list')">组织管理</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/user/list')">菜单管理</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/user/list')">角色管理</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/user/list')">人员管理</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-info-circle"></i>新闻发布</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;">全体消息</a></li>
                    <li><a href="javascript:;">部门通告</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa "></i>流程管理</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;">新建工作</a></li>
                    <li><a href="javascript:;">我的工作</a></li>
                    <li><a href="javascript:;">待办工作</a></li>
                    <li><a href="javascript:;">已办工作</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-comments"></i>会议室管理</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;">会议室管理</a></li>
                    <li><a href="javascript:;">会议记录</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-car"></i>车辆管理</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;">车辆管理</a></li>
                    <li><a href="javascript:;">车辆使用记录</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="breadNav">
    <div class="bread-nav">
        <ul class="bread-ul">
            <li><a href="#">主页</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">系统管理</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">会议管理</a></li>
        </ul>
    </div>
</div>
</body>
</html>