<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
    <link href="/asset/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div th:fragment="menu">
    <div class="menu">
        <ul class="menu-nav">
            <li th:if="${roleList.contains('admin')} or ${roleList.contains('root')}">
                <a href="javascript:;"><i class="fa fa-cogs"></i>系统管理</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;" onclick="loadHtml('/oa/org/list', {pageSize:10, currentPage:1})">组织管理</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/menu/list', {pageSize:10, currentPage:1})">菜单管理</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/role/list', {pageSize:10, currentPage:1})">角色管理</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/user/list', {pageSize:10, currentPage:1})">人员管理</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-info-circle"></i>新闻管理</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;" onclick="loadHtml('/oa/info/list', {pageSize:10, currentPage:1})">消息管理</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/info/notice', {pageSize:10, currentPage:1})">我的消息</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/info/add')">发布消息</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-stack-overflow"></i>流程管理</a>
                <ul class="sub-menu-nav">
                    <li><a href="javascript:;" onclick="loadHtml('/oa/flow/newWork')">新建工作</a></li>
                    <li><a href="javascript:;" onclick="loadHtml('/oa/flow/myWork', {pageSize:10, currentPage:1})">我的工作</a></li>
                    <li th:if="${roleList.contains('minister')} or ${roleList.contains('president')} or ${roleList.contains('res_admin')} or ${roleList.contains('meeting_admin')}"><a href="javascript:;" onclick="loadHtml('/oa/flow/todoWork', {pageSize:10, currentPage:1})">待办工作</a></li>
                    <li th:if="${roleList.contains('minister')} or ${roleList.contains('president')} or ${roleList.contains('res_admin')} or ${roleList.contains('meeting_admin')}"><a href="javascript:;" onclick="loadHtml('/oa/flow/completeWork', {pageSize:10, currentPage:1})">已办工作</a></li>
                </ul>
            </li>
            <li th:if="${roleList.contains('res_admin')} or ${roleList.contains('meeting_admin')}">
                <a href="javascript:;"><i class="fa fa-bookmark"></i>辅助办公</a>
                <ul class="sub-menu-nav">
                    <li th:if="${roleList.contains('res_admin')}"><a href="javascript:;" onclick="loadHtml('/oa/meetingRoom/list', {pageSize:10, currentPage:1})">会议室管理</a></li>
                    <li th:if="${roleList.contains('res_admin')}"><a href="javascript:;" onclick="loadHtml('/oa/car/list', {pageSize:10, currentPage:1})">车辆管理</a></li>
                    <li th:if="${roleList.contains('res_admin')}"><a href="javascript:;" onclick="loadHtml('/oa/charts/charts')">统计</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="breadNav">
    <div class="bread-nav">
        <ul class="bread-ul">
            <li><a href="#">主页</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">系统管理</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">会议管理</a></li>
        </ul>
    </div>
</div>
</body>
</html>