<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wo.ms.oa.dao.OaInfoMapper">
  <resultMap id="BaseResultMap" type="com.wo.ms.oa.entity.OaInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="del_flg" jdbcType="INTEGER" property="delFlg" />
    <result column="important" jdbcType="INTEGER" property="important" />
    <result column="info_title" jdbcType="VARCHAR" property="infoTitle" />
    <result column="info_type" jdbcType="VARCHAR" property="infoType" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="publish_id" jdbcType="INTEGER" property="publishId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, create_time, update_id, update_time, content, del_flg, important, 
    info_title, org_id, publish_id, status, info_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllInfos" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM oa_info
    WHERE del_flg = 0 ORDER BY create_time DESC
  </select>
  <select id="selectAllInfoByKeyLimit" resultType="java.util.Map">
    SELECT
    *
    FROM oa_info
    WHERE oa_info.del_flg = 0
    <if test="key != null">
      AND concat_ws(",", content, info_title) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
    ORDER BY create_time
    limit #{start, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>
  <select id="selectInfoByKeyLimit" resultType="java.util.Map">
    SELECT
    *
    FROM oa_info LEFT JOIN user_and_info AS uai ON oa_info.id = uai.info_id
    WHERE oa_info.del_flg = 0
    <if test="key != null">
      AND concat_ws(",", content, info_title) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
    <if test="loginId != null">
      AND uai.user_id = #{loginId, jdbcType=INTEGER}
    </if>
    ORDER BY uai.has_read
    limit #{start, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>
  <select id="selectInfoByKey" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM oa_info WHERE del_flg = 0
    <if test="key != null">
      AND concat_ws(",", content, info_title) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
  </select>
  <select id="selectNoReadInfoNum" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM user_and_info WHERE user_id = #{userId, jdbcType=INTEGER} AND has_read = 0
  </select>
  <update id="hasRead">
    UPDATE user_and_info SET has_read = 1 WHERE info_id = #{infoId, jdbcType=INTEGER} AND user_id = #{userId, jdbcType=INTEGER}
  </update>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE oa_info SET del_flg = 1
    where id = #{id,jdbcType=INTEGER} AND del_flg = 0
  </update>
  <insert id="insert" parameterType="com.wo.ms.oa.entity.OaInfo" useGeneratedKeys="true" keyProperty="id">
    insert into oa_info (id, create_id, create_time, 
      update_id, update_time, content, 
      del_flg, important, info_title, 
      org_id, publish_id, status, info_type
      )
    values (#{id,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{delFlg,jdbcType=INTEGER}, #{important,jdbcType=INTEGER}, #{infoTitle,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=INTEGER}, #{publishId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{infoType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertUserAndInfo" parameterType="com.wo.ms.oa.entity.UserAndInfo">
    INSERT INTO user_and_info (user_id, info_id, has_read) VALUES
    <foreach collection="userAndInfos" separator="," item="userAndInfo">
      (#{userAndInfo.userId, jdbcType=INTEGER}, #{userAndInfo.infoId, jdbcType=INTEGER},
      #{userAndInfo.hasRead, jdbcType=INTEGER})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wo.ms.oa.entity.OaInfo">
    update oa_info
    <set>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=INTEGER},
      </if>
      <if test="important != null">
        important = #{important,jdbcType=INTEGER},
      </if>
      <if test="infoTitle != null">
        info_title = #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="publishId != null">
        publish_id = #{publishId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="infoType != null">
        info_type = #{infoType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>