<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wo.ms.oa.dao.OaMeetingRoomMapper">
  <resultMap id="BaseResultMap" type="com.wo.ms.oa.entity.OaMeetingRoom">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="meeting_room" jdbcType="VARCHAR" property="meetingRoom" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="size" jdbcType="INTEGER" property="size" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, create_time, update_id, update_time, meeting_room, status, size
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_meeting_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByKeyLimit" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    FROM oa_meeting_room
    <if test="key != null">
      WHERE concat_ws(",", meeting_room) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
    ORDER BY meeting_room
    limit #{start, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>
  <select id="selectCountByKey" resultType="java.lang.Integer">
    select count(*)
    FROM oa_meeting_room
    <if test="key != null">
      WHERE concat_ws(",", meeting_room) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
  </select>
  <select id="selectCanUseMeetingRoom" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    FROM oa_meeting_room
    WHERE status = 0
    ORDER BY meeting_room
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_meeting_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wo.ms.oa.entity.OaMeetingRoom">
    insert into oa_meeting_room (id, create_id, create_time, 
      update_id, update_time, meeting_room, status, size
      )
    values (#{id,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{meetingRoom,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wo.ms.oa.entity.OaMeetingRoom">
    update oa_meeting_room
    <set>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingRoom != null">
        meeting_room = #{meetingRoom,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>