<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wo.ms.oa.dao.OaOrgMapper">
  <resultMap id="BaseResultMap" type="com.wo.ms.oa.entity.OaOrg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flg" jdbcType="INTEGER" property="delFlg" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="left_node" jdbcType="INTEGER" property="leftNode" />
    <result column="org_level" jdbcType="INTEGER" property="orgLevel" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="right_node" jdbcType="INTEGER" property="rightNode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, create_time, update_id, update_time, del_flg, description, left_node,
    org_level, org_name, right_node
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllOrg" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM oa_org
    WHERE
    <if test="key != null">
      CONCAT_WS(",", org_name, description) LIKE '%' #{key, jdbcType=VARCHAR} '%' AND
    </if>
    del_flg = 0 AND left_node > 1
    ORDER BY left_node
    limit #{start, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>
  <select id="getAllOrgCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM oa_org
    WHERE
    <if test="key != null">
      concat_ws(",", org_name, description) LIKE '%' #{key, jdbcType=VARCHAR} '%' AND
    </if>
    del_flg = 0 AND left_node > 1
  </select>
  <select id="selectOrgByLevel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM oa_org, (SELECT right_node AS rn, left_node AS ln FROM oa_org WHERE id = #{parentId, jdbcType=INTEGER} AND del_flg = 0) AS p
    WHERE oa_org.left_node > p.ln AND <![CDATA[oa_org.right_node < p.rn and]]> oa_org.org_level = #{level, jdbcType=INTEGER} + 1 AND del_flg = 0
    ORDER BY left_node
  </select>
  <select id="selectSubOrg" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM oa_org, (SELECT right_node AS rn, left_node AS ln, org_level AS lev FROM oa_org WHERE id = #{parentId, jdbcType=INTEGER} AND del_flg = 0) AS p
    WHERE oa_org.left_node > p.ln AND <![CDATA[oa_org.right_node < p.rn and]]> oa_org.org_level = p.lev + 1 AND del_flg = 0
    ORDER BY oa_org.left_node
  </select>
  <select id="selectOrgsByLevel" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM oa_org WHERE org_level = #{level, jdbcType=INTEGER} AND del_flg = 0 ORDER BY left_node
  </select>
  <select id="selectRootOrg" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM oa_org WHERE left_node = 1 AND del_flg = 0;
  </select>
  <select id="selectOrgByUserId" resultType="java.util.Map">
    SELECT oo.id AS orgId, oo.org_name AS orgName, uo.user_id AS userId FROM oa_org AS oo
    LEFT JOIN (SELECT * FROM user_org WHERE user_id = #{userId, jdbcType=INTEGER}) AS uo ON oo.id = uo.org_id
    WHERE left_node > 1 AND del_flg = 0
    ORDER BY oo.left_node
  </select>
  <select id="selectUserOrgId" resultType="java.lang.Integer">
    SELECT org_id FROM user_org WHERE user_id = #{userId, jdbcType=INTEGER}
  </select>
  <delete id="deleteUserOrg" parameterType="java.lang.Integer">
    DELETE FROM user_org  WHERE user_id = #{userId, jdbcType=INTEGER}
  </delete>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    SELECT @left_node := left_node, @right_node := right_node
        FROM oa_org WHERE id = #{id, jdbcType=INTEGER} AND del_flg = 0;
      UPDATE oa_org SET left_node = left_node - @right_node + @left_node - 1 WHERE left_node > @right_node AND del_flg = 0;
      UPDATE oa_org SET right_node = right_node - @right_node + @left_node - 1 WHERE right_node > @right_node AND del_flg = 0;
      UPDATE oa_org SET del_flg = 1 WHERE right_node <![CDATA[<=]]> @right_node AND left_node >= @left_node AND del_flg = 0;
  </update>
  <insert id="insert" parameterType="com.wo.ms.oa.dto.OaOrgDto">
    SELECT @left_node := left_node, @right_node := right_node, @level := org_level
    FROM oa_org WHERE id = #{chooseOrgId, jdbcType=INTEGER} AND del_flg = 0;
    UPDATE oa_org SET left_node = left_node + 2 WHERE left_node
    <if test="relation == 1"> >= </if>
    <if test="relation >= 2"> > </if> @left_node AND del_flg = 0;
    UPDATE oa_org SET right_node = right_node + 2 WHERE right_node
    <if test="relation != 2"> >= </if>
    <if test="relation == 2"> > </if> @right_node AND del_flg = 0;
    insert into oa_org (id, create_id, create_time, 
      update_id, update_time, del_flg, 
      description, left_node, org_level,
      org_name, right_node)
    values (#{id,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{delFlg,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR},
      <if test="relation == 1">@left_node</if>
      <if test="relation == 2">@right_node + 1</if>
      <if test="relation == 3">@right_node</if>,
      <if test="relation != 3">@level</if>
      <if test="relation == 3">@level + 1</if>,
      #{orgName,jdbcType=VARCHAR},
      <if test="relation == 1">@left_node + 1</if>
      <if test="relation == 2">@right_node + 2</if>
      <if test="relation == 3">@right_node + 1</if>
      );
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wo.ms.oa.entity.OaOrg">
    update oa_org
    <set>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="leftNode != null">
        left_node = #{leftNode,jdbcType=INTEGER},
      </if>
      <if test="orgLevel != null">
        org_level = #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="rightNode != null">
        right_node = #{rightNode,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertUserOrg" parameterType="com.wo.ms.oa.entity.UserOrg">
    INSERT INTO user_org(user_id, org_id) VALUE (#{userId, jdbcType=INTEGER}, #{orgId, jdbcType=INTEGER})
  </insert>
  <delete id="delUserOrg" parameterType="com.wo.ms.oa.entity.UserOrg">
    DELETE FROM user_org WHERE user_id = #{userId, jdbcType=INTEGER} AND org_id = #{orgId, jdbcType=INTEGER}
  </delete>
</mapper>