<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wo.ms.oa.dao.OaUserMapper">
  <resultMap id="BaseResultMap" type="com.wo.ms.oa.entity.OaUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flg" jdbcType="INTEGER" property="delFlg" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, create_time, del_flg, email, mobile, name, password, birthday, sex, update_id, update_time,
    username
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_user
    where id = #{id,jdbcType=INTEGER} AND del_flg = 0
  </select>
  <select id="selectOaUserByKey" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM oa_user
    WHERE del_flg = 0
    <if test="key != null">
      AND concat_ws(',', NAME , username, email, mobile) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
  </select>
  <select id="selectOaUserByKeyLimit" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM oa_user
    WHERE del_flg = 0
    <if test="key != null">
      AND concat_ws(',', NAME , username, email, mobile) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
    ORDER BY create_time DESC
    limit #{start, jdbcType=INTEGER},#{pageSize, jdbcType=INTEGER}
  </select>
  <select id="selectUserByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM oa_user WHERE username = #{username, jdbcType=VARCHAR} AND del_flg = 0
  </select>
  <select id="selectOrgIdByUserId" resultType="java.lang.Integer">
    SELECT org_id FROM user_org WHERE user_id = #{userId, jdbcType=INTEGER}
  </select>
  <update id="deleteByPrimaryKey">
    UPDATE oa_user SET del_flg = 1 WHERE id = #{id, jdbcType=INTEGER} AND del_flg = 0
  </update>
  <insert id="insert" parameterType="com.wo.ms.oa.entity.OaUser" useGeneratedKeys="true" keyProperty="id">
    insert into oa_user (create_id, create_time,
      del_flg, email, mobile, 
      name, password, birthday, sex, update_id,
      update_time, username)
    values (#{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{delFlg,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{sex,jdbcType=INTEGER}, #{updateId,jdbcType=INTEGER},
      #{updateTime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wo.ms.oa.entity.OaUser">
    update oa_user
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} AND del_flg = 0
  </update>
</mapper>