<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wo.ms.oa.dao.UseCarRecordMapper">
  <resultMap id="BaseResultMap" type="com.wo.ms.oa.entity.UseCarRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="car_name" jdbcType="VARCHAR" property="carName" />
    <result column="car_status" jdbcType="INTEGER" property="carStatus" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, create_time, update_id, update_time, car_id, car_name, car_status, 
    end_time, reason, start_time
  </sql>
  <sql id="Mut_Column_List">
    ${alis}.id, ${alis}.create_id, ${alis}.create_time, ${alis}.update_id, ${alis}.update_time, ${alis}.car_id,
    ${alis}.car_name, ${alis}.car_status, ${alis}.end_time, ${alis}.reason, ${alis}.start_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from use_car_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUseCarRecordByKeyLimit" resultMap="BaseResultMap">
    SELECT
    <include refid="Mut_Column_List"><property name="alis" value="ucr"></property></include>
    FROM use_car_record AS ucr
    LEFT JOIN flow_car_meeting AS fcm ON ucr.id = fcm.use_car_record_id
    LEFT JOIN oa_flow AS of ON of.id = fcm.flow_id
    WHERE of.launch_id = #{loginId, jdbcType=INTEGER}

    <if test="key != null">
      AND concat_ws(",", ucr.car_name) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
    limit #{start, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>
  <select id="selectCountByKey" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM use_car_record AS ucr
    LEFT JOIN flow_car_meeting AS fcm ON ucr.id = fcm.use_car_record_id
    LEFT JOIN oa_flow AS of ON of.id = fcm.flow_id
    WHERE of.launch_id = #{loginId, jdbcType=INTEGER}
    AND of.status = 0
    <if test="key != null">
      AND concat_ws(",", ucr.car_name) LIKE '%' #{key, jdbcType=VARCHAR} '%'
    </if>
  </select>
  <select id="selectUseCarDayAndNum" resultType="java.util.Map">
    SELECT datediff(ucr.end_time, ucr.start_time) AS dd, count(*) AS ct FROM use_car_record AS ucr
    LEFT JOIN flow_car_meeting AS fcm ON ucr.id = fcm.use_car_record_id
    LEFT JOIN oa_flow AS flow ON fcm.flow_id = flow.id
    WHERE flow.status = 0
    GROUP BY dd ORDER BY dd
  </select>
  <delete id="deleteUseCarRecord" parameterType="java.lang.Integer">
    delete from use_car_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wo.ms.oa.entity.UseCarRecord" useGeneratedKeys="true" keyProperty="id">
    insert into use_car_record (id, create_id, create_time, 
      update_id, update_time, car_id, 
      car_name, car_status, end_time, 
      reason, start_time)
    values (#{id,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{carId,jdbcType=INTEGER}, 
      #{carName,jdbcType=VARCHAR}, #{carStatus,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP}, 
      #{reason,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wo.ms.oa.entity.UseCarRecord">
    update use_car_record
    <set>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carId != null">
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="carName != null">
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null">
        car_status = #{carStatus,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wo.ms.oa.entity.UseCarRecord">
    update use_car_record
    set create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      car_id = #{carId,jdbcType=INTEGER},
      car_name = #{carName,jdbcType=VARCHAR},
      car_status = #{carStatus,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>