<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
</head>
<body>
<div th:fragment="infoList">
    <div class="list-content">
        <div class="search-block form-group col-sm-8 row">
            <div class="col-sm-6">
                <input type="text" class="form-control" id="key" placeholder="信息标题/内容" th:value="${key != null} ? ${key} : ''">
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary" id="search">搜索</button>
                <button class="btn btn-primary" onclick="loadHtml('/oa/info/add')">新增</button>
            </div>
        </div>
        <div class="table-block">
            <div class="table-content">
                <table class="table">
                    <thead>
                    <th>序号</th>
                    <th>标题</th>
                    <th>消息类型</th>
                    <th>重要程度</th>
                    <th th:if='${infoPagtion.getInfos().get(0).containsKey("has_read")}'>状态</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <tr th:if="${infoPagtion.getInfos().size() > 0}" th:each="info, infoSata : ${infoPagtion.getInfos()}">
                        <td th:text="${infoSata.index} + 1"></td>
                        <td th:text="${info.info_title}"></td>
                        <td th:text="${info.info_type}"></td>
                        <td th:if="${info.important == 0}">一般</td>
                        <td th:if="${info.important == 1}">重要</td>
                        <td th:if="${info.important == 2}">紧急</td>
                        <td th:if='${info.containsKey("has_read")}' th:text="${info.has_read == 0} ? '未读' : '已读'"></td>
                        <td>
                            <span th:if="${info.publish_id} == ${loginId}" th:onclick="'loadHtml(\'/oa/info/update\',{id:' +  ${info.id} + '})'">编辑</span>
                            <span th:if="${info.publish_id} == ${loginId}" th:onclick="'delInfo(' + ${info.id} + ')'">删除</span>
                            <span th:onclick="'loadHtml(\'/oa/info/view\',{id:' +  ${info.id} + '})'">查看</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination-block">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li th:class="${infoPagtion.getCurrentPage() > 1} ? 'page-item' : 'page-item disabled'"><a class="page-link" href="#" th:onclick="'loadHtml( \'/oa/info/list\',{pageSize:10,currentPage:' + ${infoPagtion.getCurrentPage() - 1} + ', key: \'' + ${key} + '\'})'">上一页</a></li>
                            <li th:if="${infoPagtion.getCurrentPage() - 2 > 0}" class="page-item"><a class="page-link" href="#" th:onclick="'loadHtml( \'/oa/info/list\',{pageSize:10,currentPage:' + ${infoPagtion.getCurrentPage() - 2} + ', key: \'' + ${key} + '\'})'" th:text="${infoPagtion.getCurrentPage() - 2}">1</a></li>
                            <li th:if="${infoPagtion.getCurrentPage() - 1 > 0}" class="page-item"><a class="page-link" href="#" th:onclick="'loadHtml( \'/oa/info/list\',{pageSize:10,currentPage:' + ${infoPagtion.getCurrentPage() - 1} + ', key: \'' + ${key} + '\'})'" th:text="${infoPagtion.getCurrentPage() - 1}">2</a></li>
                            <li class="page-item"><a class="page-link" href="#" th:onclick="'loadHtml( \'/oa/info/list\',{pageSize:10,currentPage:' + ${infoPagtion.getCurrentPage()} + ', key: \'' + ${key} + '\'})'" th:text="${infoPagtion.getCurrentPage()}">3</a></li>
                            <li th:if="${infoPagtion.getCurrentPage() + 1 <= infoPagtion.getTotalPage()}" class="page-item"><a class="page-link" href="#" th:onclick="'loadHtml( \'/oa/info/list\',{pageSize:10,currentPage:' + ${infoPagtion.getCurrentPage() + 1} + ', key: \'' + ${key} + '\'})'" th:text="${infoPagtion.getCurrentPage() + 1}">4</a></li>
                            <li th:if="${infoPagtion.getCurrentPage() + 2 <= infoPagtion.getTotalPage()}" class="page-item"><a class="page-link" href="#" th:onclick="'loadHtml( \'/oa/info/list\',{pageSize:10,currentPage:' + ${infoPagtion.getCurrentPage() + 2} + ', key: \'' + ${key} + '\'})'" th:text="${infoPagtion.getCurrentPage() + 2}">5</a></li>
                            <li th:class="${infoPagtion.getCurrentPage() < infoPagtion.getTotalPage()} ? 'page-item' : 'page-item disabled'"><a class="page-link" href="#" th:onclick="'loadHtml( \'/oa/info/list\',{pageSize:10,currentPage:' + ${infoPagtion.getCurrentPage() + 1} + ', key: \'' + ${key} + '\'})'">下一页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/info/infoList.js" type="text/javascript"></script>
</body>
</html>