<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>组织管理</title>
</head>
<body>
<div class="orgForm">
    <h4 class="form-title">组织管理</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="org-structure">
                <ul th:if="${orgList != null}">
                    <li th:each="orgItem : ${orgList}">
                        <i th:if="${orgItem.rightNode - orgItem.leftNode > 1}" class="fa fa-plus-square-o" th:data-suborg="${orgItem.getId()}"></i>
                        <span th:text="${orgItem.getOrgName()}" th:data-orgId="${orgItem.getId()}"></span>
                    </li>
                </ul>
                <a href="javascript:void (0);" th:if="orgList == null">尚未添加任何组织节点</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group row">
                <label for="orgName" class="col-sm-3 col-form-label">组织名称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="orgName" th:value="${org != null} ? ${org.orgName} : ''" placeholder="组织名称">
                </div>
            </div>
            <div class="form-group row" th:if="${org == null}">
                <label for="orgName" class="col-sm-3 col-form-label">选中节点</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="chooseOrgName" placeholder="选中节点">
                    <input type="text" id="chooseOrgId" style="display: none;">
                </div>
            </div>
            <div class="form-group row" th:if="${org == null}">
                <label class="col-sm-3 col-form-label">与所选节点关系</label>
                <div class="col-sm-9">
                    <label><input type="radio" value="1" name="relation">节点之前</label>
                    <label><input type="radio" value="2" name="relation">节点之后</label>
                    <label><input type="radio" value="3" name="relation">子节点</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="descrition" class="col-sm-3 col-form-label">描述</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="descrition" th:value="${org != null} ? ${org.descrition} : ''" placeholder="描述">
                </div>
                <input type="text" id="id" th:value="${org != null} ? ${org.id} : ''" style="display: none">
            </div>
            <div class="form-group form-btns">
                <button type="submit" class="btn btn-primary" id="submitOrg">保存</button>
                <button type="submit" class="btn btn-default"  onclick="loadHtml('/oa/org/list')">取消</button>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/org/orgForm.js" type="text/javascript"></script>
</body>
</html>